<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel> <span style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 18x">Wohin soll Deine Bestellung geliefert werden? </span></ng-template>
      <mat-form-field>
        <input matInput placeholder="Adresse" required>
      </mat-form-field>&nbsp;&nbsp;&nbsp;
      <mat-form-field>
        <input matInput placeholder="Postleitzahl" required>
      </mat-form-field>&nbsp;&nbsp;&nbsp;
      <mat-form-field>
        <input matInput placeholder="Stadt" required>
      </mat-form-field>&nbsp;&nbsp;&nbsp;
      <mat-form-field>
        <input matInput placeholder="Etage">
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel><span style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 18px"> können wir Dich erreichen? </span></ng-template>
      <mat-form-field>
          <input matInput placeholder="Name" required>
        </mat-form-field>&nbsp;&nbsp;&nbsp;
        <mat-form-field>
          <input matInput placeholder="E-Mail" required>
        </mat-form-field>&nbsp;&nbsp;&nbsp;
        <mat-form-field>
          <input matInput placeholder="Telefonnummer" required>
        </mat-form-field>&nbsp;&nbsp;&nbsp;
        <mat-form-field>
          <input matInput placeholder="Firmenname">
        </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> <span style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 18px"> Wann möchtest Du Deine Bestellung erhalten? </span> </ng-template>
      <mat-form-field>
          <mat-select placeholder="Gewünschte Lieferzeit">
            <mat-option> So schnell wie mönglich</mat-option>
          </mat-select>
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Anmerkungen für das Restaurant"></textarea>
            <mat-icon matSuffix>message</mat-icon>
          </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel> <span style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 18px"> Wie möchtest Du bezahlen? </span></ng-template>

    <p style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"> Please choose one option (you can pay with machine or cash)</p>
    <div class="cc-selector-2">
        <input id="visa2" type="radio" name="creditcard" value="visa" />
        <label class="drinkcard-cc visa" for="visa2"></label>
        <input  checked="checked" id="mastercard2" type="radio" name="creditcard" value="mastercard" />
        <label class="drinkcard-cc mastercard"for="mastercard2"></label>
    </div><br>

    <div>
      <button mat-raised-button color="warn" style="width:20%;letter-spacing: 1px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" matStepperPrevious>BACK</button>
      <button mat-raised-button (click)="stepper.reset()" style="width:70%;margin-left: 5%;letter-spacing: 1px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" color="primary">ZAHLUNGSPFLICHTIG BESTELLEN</button>
    </div>
  </mat-step>

</mat-vertical-stepper>
