.example-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.cc-selector-2 {

  .cc-selector-2 input{
    position:absolute;
    z-index:999;
  }

  .visa{background-image:url(https://scitechafrica.files.wordpress.com/2018/02/cashless-policy.jpg?w=640);}
  .mastercard{background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRonxTNciDEsEJQjXga6Xyp5bNCZT9sTkxBQ29k4E8MsTPBdO3eEw);}

  .cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: 0.2;}
  .cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
  }
  .drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
            -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
            -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
                 filter: brightness(1.2) grayscale(.5) opacity(.9);
  }
  .drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
  }

  /* Extras */
  a{color:#444;text-decoration:none;}
  p{margin-bottom:.3em;}
  * { font-family:monospace; }
  .cc-selector-2 input{ margin: 5px 0 0 12px; }
  .cc-selector-2 label{ margin-left: 7px; }
  span.cc{ color:#6d84b4 }

}

.minutes-gap-example {
  input {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  }
}

.red-snackbar {
  background: #06203b !important;
  color: white !important;
  letter-spacing: 1px !important;
}

/*--delivery success pop starts here--*/
.thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
/* 	border:2px dashed #222;
 */	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}

.modal-content {
  border: none !important;
}

@media screen and (max-width: 600px) {
  .finalBut {
    margin-top: 5%;
    width:100%
  }
}

@media screen and (min-width: 601px) {
  .finalBut {
    margin-left: 5%;
    width: 70%;
    letter-spacing: 1px;
  }
}
