
    .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
    margin: 0px 0px 10px;
    transition: transform .3s;
  }

  .event-list > li:hover {
    cursor: pointer;
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04);
  }


	.event-list > li > time > span {
		display: none;
	}

	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
    margin-top: 3px;
    margin-bottom: 3px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}

	.event-list > li > .info > ul > li,

    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	}
    .event-list > li > .social > ul > li {
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	}
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}
		.event-list > li > .info > .title,
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
  }

  mat-toolbar {
   background: linear-gradient(90deg, rgb(255, 255, 255) 0%, #005000 60%,  rgb(80, 0, 0) 100%) !important;
  // background: linear-gradient(90deg, rgb(94, 15, 15) 0%, rgba(39,83,91,0.9472163865546218) 60%);
  //background-image: url("../../assets/images/Wood.jpg") !important;
   span {
      color: white !important;
    }
  }

  .fixed-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
  }

  .example-fill-remaining-space {
    flex: 1 1 auto;
  }

  .logoimg {
    width: 120px !important;
    height: 85px !important;
  }

  $input-number-size: 80px;

  .input-number-group {
    display: flex;
    margin-top: 20px;

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      appearance: none;
    }

    .input-group-button {
      line-height: calc(#{$input-number-size}/2 - 5px);
    }

    .input-number {
      width: 45px;
      text-align: center;
      outline: none;
      display: block;
      margin: 0;
      border: none;
    }

    .input-number-decrement,
    .input-number-increment {
      border: 1px solid medium gray;
      height: $input-number-size/2;
      user-select: none;
    }

    .input-number-decrement,
    .input-number-increment {
      display: inline-block;
      width: $input-number-size/2;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 400;
    }

    .input-number-decrement {
      margin-right: 0.2rem;
    }

    .input-number-increment {
      margin-left: 0.2rem;
    }
  }

  .disabledlistItem {
    pointer-events: none;
  }

  .disabledDecriment {
    pointer-events: none;
  }

  .checkbox {
    width:230px;
    float:left;

  }

  img {
    width: 100%;
    border-radius: 4px;
    height: 170px;
    margin-bottom: 4px;
  }

  .event-list li {
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .iconremove:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(42, 22, 116, 0.822);
    transition: 0.5s;
    border-radius:50%;
  }

  .iconadd:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(42, 22, 116, 0.822);
    transition: 0.5s;
    border-radius:50%;
  }

  .icondelete:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(212, 15, 25, 0.842);
    transition: 0.5s;
    border-radius:50%;
  }

  .button:focus {
    outline: none !important;
  }

  .red-snackbar {
    background: #06203b !important;
    color: white !important;
    letter-spacing: 1px !important;
    .mat-simple-snackbar-action {
      color: white !important;
  }
  }

  .disableCart {
    pointer-events: none;
  }

  .checkout {
    .modal-body {
      padding-left: 1rem !important;
      padding-bottom: 1rem !important;
      padding-right: 1rem !important;
      padding-top: 0px !important;
    }
  }

  table td {
    border-top: none !important;
  }

  .affix {
    position: sticky;
    top: 5.5rem;
  }

  @media screen and (max-width: 600px) {
    .expandButCost {
      margin-left: 0px;
      margin-top: 10px;
    }
  }

  @media screen and (min-width: 601px) {
    .expandButCost {
      margin-left: auto;
    }
  }


  @media screen and (max-width: 600px) {
    .bestellenBut {
      float: left;
      margin-top: 20px;
    }
  }

  @media screen and (min-width: 601px) {
    .bestellenBut {
      float: right;
    }
  }

  @media screen and (min-width: 601px) {
    .closeBut {
      float: left;
    }
  }

  @media screen and (max-width: 600px) {
    .closeBut {
      float: right;
    }
  }

  .side-menu {
    a {

      -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
      -moz-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
      -ms-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
      -o-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
      transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

      text-decoration: none;
  }

  /* List styles */

  .list {

      -webkit-transform-style: preserve-3d;
      -moz-transform-stle: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;

      text-transform: uppercase;
  }

  .list a {

      display: block;
      color: #fff;
  }

  .list a:hover {
      text-indent: 20px;
  }

  .list dt, .list dd {

      text-indent: 10px;
      line-height: 55px;
      background: #E0FBAC;
      margin-top: 0;
      margin-bottom: 0;
      height: 55px;
      color: #fff;
      letter-spacing: 1px;
  }

  .list dt {

      /* Since we're hiding elements behind here, we need it in 3d */
      -webkit-transform: translateZ(0.3px);
      -moz-transform: translateZ(0.3px);
      -ms-transform: translateZ(0.3px);
      -o-transform: translateZ(0.3px);
      transform: translateZ(0.3px);

      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      font-size: 15px;
      text-align: center;
  }

  .list dd {

      border-top: 1px dashed rgba(255,255,255,0.3);
      line-height: 35px;
      font-size: 15px;
      height: 35px;
      cursor: pointer;
      text-align: center;
      font-family: cursive;
  }

  /* UI */


  /* No CSS 3D support warning */

  /* Individual styles */

  .sashimi dt, .sashimi dd, .sashimi a { background: #73C8A9; }
  .nigiri dt, .nigiri dd, .nigiri a { background: #990000; }
  .maki dt, .maki dd, .maki a { background: #FFC219; }

  .sashimi a:hover { background: #61c19e; }
  .nigiri a:hover { background: #990000; }
  .maki a:hover { background: #ffbb00; }

  .nigiri {

      -webkit-transform: perspective(1200px) rotateY(40deg) !important;
      -moz-transform: perspective(1200px) rotateY(40deg) !important;
      -ms-transform: perspective(1200px) rotateY(40deg) !important;
      -o-transform: perspective(1200px) rotateY(40deg) !important;
      transform: perspective(1200px) rotateY(40deg) !important;

      -webkit-transform-origin: 110% 25%;
      -moz-transform-origin: 110% 25%;
      -ms-transform-origin: 110% 25%;
      -o-transform-origin: 110% 25%;
      transform-origin: 110% 25%;

  }

  }

  @media screen and (max-width: 600px) {
    .mt-1 {
      margin-top: 30px !important;
    }
  }

  .backwood {
    // background: #f9f5f1;
    background-image: url("../../assets/images/wood2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  .list-group-item {
    border: none !important;
  }

  .sidemenuItem {
    transition: transform .3s;
  }

  .sidemenuItem:hover {
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04);
    cursor: pointer;
  }
