
    .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
    margin: 0px 0px 10px;
    transition: transform .3s;
  }

  .event-list > li:hover {
    cursor: pointer;
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04);
  }

	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(197, 44, 102);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(165, 82, 167);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}

	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
    margin-top: 3px;
    margin-bottom: 3px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	}
    .event-list > li > .social > ul > li {
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	}
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
  }

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}
		.event-list > li > .info > .title,
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
  }

  mat-toolbar {
    background: linear-gradient(90deg, rgba(39,83,91,0.9472163865546218) 50%, rgba(39,83,91,0.9472163865546218) 60%, rgba(39,83,91,0.9472163865546218) 60%) !important;
    span {
      color: white !important;
    }
  }

  .fixed-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
  }

  .example-fill-remaining-space {
    flex: 1 1 auto;
  }

  $input-number-size: 80px;

  .input-number-group {
    display: flex;
    margin-top: 20px;

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      appearance: none;
    }

    .input-group-button {
      line-height: calc(#{$input-number-size}/2 - 5px);
    }

    .input-number {
      width: 45px;
      text-align: center;
      outline: none;
      display: block;
      margin: 0;
      border: none;
    }

    .input-number-decrement,
    .input-number-increment {
      border: 1px solid medium gray;
      height: $input-number-size/2;
      user-select: none;
    }

    .input-number-decrement,
    .input-number-increment {
      display: inline-block;
      width: $input-number-size/2;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 400;
    }

    .input-number-decrement {
      margin-right: 0.2rem;
    }

    .input-number-increment {
      margin-left: 0.2rem;
    }
  }

  .disabledlistItem {
    pointer-events: none;
  }

  .disabledDecriment {
    pointer-events: none;
  }

  .checkbox {
    width:230px;
    float:left;

  }

  img {
    width: 100%;
    border-radius: 4px;
    height: 170px;
    margin-bottom: 4px;
  }

  .event-list li {
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .iconremove:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(42, 22, 116, 0.822);
    transition: 0.5s;
    border-radius:50%;
  }

  .iconadd:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(42, 22, 116, 0.822);
    transition: 0.5s;
    border-radius:50%;
  }

  .icondelete:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(212, 15, 25, 0.842);
    transition: 0.5s;
    border-radius:50%;
  }

  .button:focus {
    outline: none !important;
  }

  .red-snackbar {
    background: #06203b !important;
    color: white !important;
    letter-spacing: 1px !important;
  }

  .footersection {
    display: block;

    .customcontainer {
      padding-top: 30px;
      padding-left: 5%;
      padding-right: 5%;
    }

    ul, ol {
      padding: 0;
      margin: 0;
    }

    li {
      list-style: none;
    }

    .btn, .form-control {
      border-radius: 2px;
      box-shadow: none !important;
    }

    .footer2 a {
      color: #DDD;
    }

    .footer2 a:hover,
    .footer2 a:focus,
    .footer2 a:active {
      color: #FFF;
    }

    .footer2 .footer {
      background-color: #2E3436;
      padding: 10px 0;
    }

    .footer2 .footer nav h3 {
      font-size: 18px;
      color: #FFF;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 0 1em 0;
    }

    .footer2 .footer nav h3 span {
      font-weight: 300;
      text-transform: capitalize;
    }

    .footer2 .footer nav ul li a {
      text-decoration: none;
      display: block;
      padding: 4px 0;
      font-size: 13px;
    }

    .footer2 .footer nav {
      padding-bottom: 10px;
    }

    .footer2 .footer .input-group {
      margin: 15px 0;
    }

    .footer2 .footer .form-control {
      border-radius: 2px 0 0 2px;
      background-color: #585C5D;
      border-color: #585C5D;
      color: #DDD;
    }

    .footer2 .footer .form-control:hover,
    .footer2 .footer .form-control:focus {
      border: 1px solid #222728;
      background-color: #222728;
    }

    .footer2 .footer .input-group-addon {
      border-radius: 0 2px 2px 0;
      background-color: #F7931D;
      color: #FFF;
      border-color: #F7931D;
    }

    .footer2 .footer .social {
      margin: 0 auto;
      display: table;
    }

    .footer2 .footer .social li {
      float: left;
    }

    .footer2 .footer .social li a {
      display: block;
      font-size: 1em;
      color: #DDD;
      width: 30px;
      height: 30px;
      line-height: 32px;
      padding: 0;
      text-align: center;
      border-radius: 2px;
      margin: 5px 4px
    }

    .footer2 .footer .social li a:hover {
      background-color: #3A4144;
    }

    .footer-bottom {
      padding: 5px 0 5px;
      background: #1e1e1e;
  }
  .copyright-text p {
      color: #ccc;
      margin-top: 5px;
      margin-bottom: 0;
      text-align: center;
  }

  }
