<!-- header to show cart icon and anount to be selected itmes -->
<mat-toolbar class="fixed-header">
  <span class="example-fill-remaining-space" style="text-align:right;padding-right: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Warenkorb:
    {{totalAmountOnHeader | currencyEuro}} €</span>
  <span style="cursor:pointer" (click)="openCart(template)">
    <mat-icon matBadge="{{itemQuantity || 0}}" matBadgeColor="warn" style="margin-right:20px;margin-top: 15px">shopping_cart</mat-icon>
  </span>
</mat-toolbar>

<div class="container" style="margin-top:20px">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group" *ngFor="let shoppinglist of shoppingListItems">
        <a class="list-group-item list-group-item-action" style="background:rgb(245, 245, 245);cursor: pointer;"
          (click)="scrollToSection(shoppinglist.dishType)">{{shoppinglist.dishType}}</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 col-md-12 ]" *ngFor="let shoppinglist of shoppingListItems;let j = index;">
          <h4 class="mt-1 pb-2 mb-4 font-italic border-bottom" id="{{shoppinglist.dishType}}" style="margin-top:-30px">
            {{shoppinglist.dishType}}
          </h4>
          <img src="{{shoppinglist.banner}}" alt="category banner" />
          <ul class="event-list" *ngFor="let items of shoppinglist.dishItems;let i=index;">
            <li (click)="expandItem(items, items.itemNo)" [class.disabledlistItem]="listindex == items.itemNo">
              <div class="info">
                <h2 class="title">{{items.itemName}}
                  <span class="badge badge-info badge-pill" style="float:right;margin-top: 7px;margin-right: 7px">
                    {{items.itemPrice}} €</span>
                </h2>
                <p class="desc">{{items.itemShortDescription}}</p>
                <p class="desc">{{items.chooseExtraInfo}}</p>
              </div>
            </li>

            <div *ngIf="listindex == items.itemNo" style="background:white;border: 1px solid lightgray;padding: 30px;margin-top: -8px;margin-bottom: 10px;border-bottom: 3px solid orange">
              <div class="form-group">
                <mat-icon style="float: right; border:none;cursor: pointer;font-size: 35px;color: black" (click)="closeExpand()">expand_less</mat-icon><br>
                <label for="sel1">{{items.itemExtraOptionsizes.itemPlaceholderName}}</label>
                <select class="form-control" id="sel1" [(ngModel)]="selectedPizzaSize" (change)="checkExtraOptions('notupdate', 'noevent')">
                  <option *ngFor="let sizes of items.itemExtraOptionsizes.sizes" [value]="sizes.name">{{sizes.name}}</option>
                </select>
                <label for="sel1" style="margin-top:20px;margin-right:20px">{{items.itemExtraOptionPrice.itemPlaceholderName}}</label><br>

                <div class="col md-6">
                  <div class="checkbox checkbox-success" *ngFor="let extraprice of items.itemExtraOptionPrice.prices">
                    <input id="checkbox1" type="checkbox" (change)="checkExtraOptions(extraprice, $event)" />&nbsp;&nbsp;
                    <label for="checkbox6">
                      {{extraprice.name}}
                    </label>
                  </div>
                </div>
                <div class="input-group input-number-group" style="padding-top:10px">
                  <div class="input-group-button" (click)="decrementItem()" [class.disabledDecriment]="quantity == 1">
                    <span class="input-number-decrement">-</span>
                  </div>
                  <input class="input-number" type="text" value="{{quantity}}" disabled>
                  <div class="input-group-button" (click)="incrementItem()">
                    <span class="input-number-increment">+</span>
                  </div>
                  <button mat-raised-button style="margin-left:auto;background: #17a2b8" (click)="addToCart()">
                    <span style="font-size:17px;letter-spacing: 1px;color: white;font-size: 20px">{{totalAmount |
                      currencyEuro}} €</span>
                    <mat-icon style="margin-left:20px;color: white" matSuffix>shopping_cart</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body gray modal-lg">
    <div>
      <table id="cart" class="table table-hover table-condensed">
          <thead>
            <tr>
              <th style="width:40%">Item</th>
              <th style="width:10%">Quantity</th>
              <th style="width:25%" class="aligntex">Subtotal</th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of addCartList;let i = index;">
              <td data-th="Product" style="padding-top:10px !important">
                <div class="row">
                  <div class="col-sm-10">
                    <p style="margin-top:5px">{{item.quantity}} x {{item.itemName}} <i class="fa fa-info-circle" fa-4x style="padding-left:7px;cursor: pointer" (click)="openInfoText(templateNested, item.extras)"></i></p>
                  </div>
                </div>
              </td>
              <td data-th="Quantity">
                <mat-icon class="iconremove" (click)="cartDecrement(item, i)" [class.disabledDecriment]="itemQuantity == 1">remove</mat-icon>&nbsp;&nbsp;
                <mat-icon class="iconadd" (click)="cartIncrement(item, i)">add</mat-icon>
              </td>
              <td data-th="Subtotal" class="aligntex">€ {{item.itemtotalamount | currencyEuro}}</td>
              <td class="actions" data-th="">
                  <mat-icon color="warn" class="icondelete" (click)="cartDelete(item, i)">cancel</mat-icon>
              </td>
            </tr>
          </tbody>
        </table>
          <p style="text-align:center"> <strong style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;padding-top:10px;font-size: 17px"> Total: {{totalAmountOnHeader | currencyEuro}} € </strong>
              <button mat-raised-button color="warn" (click)="selectionModalRef.hide()" style="float: left">
                  <mat-icon matSuffix style="margin-right:5px">cancel</mat-icon> <span style="font-size:17px;letter-spacing: 1px">Cancel</span>
                </button>
              <button mat-raised-button color="primary" style="float: right" (click)="confirmBestellen(confirmselection)" [class.disabledDecriment]="itemQuantity == 0">
                  <span style="font-size:17px;letter-spacing: 1px"> BESTELLEN </span> <mat-icon matSuffix style="margin-left:5px">navigate_next</mat-icon>
                </button>
          </p>
        </div>
  </div>
</ng-template>

<ng-template #templateNested>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Extras</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="extraModalref.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul *ngFor="let text of data">
      <li>
        {{text.name}}
      </li>
    </ul>
  </div>
</ng-template>

<!-- checkout address -->
<ng-template #confirmselection>
    <div class="modal-body gray modal-lg">
        <app-checkout-address></app-checkout-address>
    </div>
  </ng-template>
