.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 40px;
}

.dish {
    float: left;
    margin-left: 5% ;
    margin-top: 5% ;
    border: 1px black;
    }

    .example-full-width {
      width: 400px;
    }

    .example-full-width2 {
      width: 200px;
    }

    .example-full-width3 {
      width: 100%;
    }

    .container-fluid {
      padding-left: 2% !important;
    }

    .radio-group {
      padding-top: 2% !important;
      padding-bottom: 15px;
    }

    button:focus {
      outline: none;
    }

    .flexrow {
      display: flex;
      justify-content: flex-start;
    }

    .flexcol {
      margin-right: 10px;
    }

    .icondelete:hover {
      cursor: pointer;
      box-shadow: 0 0 0 2px rgba(212, 15, 25, 0.842);
      transition: 0.5s;
      border-radius:50%;
    }

    td {
      padding-right: 30px;
      padding-left: 10px;
    }

    td:last-child {
      padding-right: 10px;
    }

    ::ng-deep .mat-tab-label {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
 }

 .red-snackbar {
  background: #990000 !important;
  color: white !important;
  letter-spacing: 1px !important;
}

.addpadding {
  margin-bottom: 230px;
}

table {
  width: 100%;
}

.tablepad {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
