<mat-tab-group (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Gerichte Ändern">
    <div class="container-fluid">

      <!-- Add dish and remove dish radio group to switch between two views -->
      <div class="radio-group">
        <mat-radio-group [(ngModel)]="radiogroup">
          <mat-radio-button value="adddish" color="primary" style="font-family: 'Helvetica Neue', sans-serif;"> Add
            dish </mat-radio-button>
          <mat-radio-button value="removedish" color="primary" style="margin-left:50px; font-family: 'Helvetica Neue', sans-serif;">
            Remove dish </mat-radio-button>
        </mat-radio-group><br>
      </div>

      <!-- view enable only when user click on add dish -->
      <div *ngIf="radiogroup == 'adddish'">
        <mat-form-field>
          <mat-select placeholder="Select category" [(ngModel)]="categoryid" (selectionChange)="categorychanged(categoryid)">
            <mat-option *ngFor="let category of mainshoppinglistitems" [value]="category._id">
              {{category.dishType}}
            </mat-option>
          </mat-select>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-family: 'Helvetica Neue', sans-serif;">Add new
          category</label>&nbsp;&nbsp;
        <button mat-mini-fab color="primary" (click)="addNewCategory()">
          <mat-icon>add</mat-icon>
        </button><br>

        <!-- display only when user click on add new category button -->
        <div *ngIf="displaynewcategory">
          <mat-form-field>
            <input [(ngModel)]="newCategoryData.name" type="text" matInput placeholder="New category name">
          </mat-form-field> <br>
          <input style="display: none" type="file" (change)="oncategoryFileChanged($event)" #fileInput>
          <button mat-raised-button (click)="fileInput.click()" style="margin-right:30px;font-family: 'Helvetica Neue', sans-serif;">Select
            category banner</button>
          <button mat-raised-button color="primary" style="letter-spacing:1px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"
            (click)="oncategoryUpload()">UPLOAD</button><br><br>
          <button mat-raised-button color="primary" style="margin-left: 3%" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;letter-spacing: 1px"
            (click)="submitCategoryData()">SUBMIT
            CATEGORY</button>
        </div>

        <!-- enable only after user select category from list -->
        <div *ngIf="categoryid">
          <p>Add dish item in category <strong>{{selectedfromlist}}</strong></p>
          <label style="font-family: 'Helvetica Neue', sans-serif;">Add dish</label>&nbsp;&nbsp;
          <button mat-mini-fab color="primary" (click)="adddishform()">
            <mat-icon>add</mat-icon>
          </button><br>
        </div>

        <div [class.addpadding]="!openformtoadd"></div>

        <!-- enable form only after click on add dish item -->
        <div *ngIf="openformtoadd">
          <form [formGroup]="adminForm">
            <div class="flexrow">
              <div class="flexcol">
                <mat-form-field>
                  <input formControlName="itemName" type="text" matInput placeholder="item name you wish to add">
                </mat-form-field>
              </div>
              <div class="flexcol">
                <mat-form-field>
                  <input formControlName="itemPrice" type="text" matInput placeholder="item price">
                </mat-form-field>
              </div>
            </div>
            <mat-form-field class="example-full-width">
              <textarea matInput formControlName="itemShortDescription" type="text" placeholder="provide description about item"></textarea>
              <mat-icon matSuffix>message</mat-icon>
            </mat-form-field><br>
           <!--  <mat-form-field class="example-full-width" *ngIf="selectedfromlist == 'Pizza'">
              <textarea matInput formControlName="chooseExtraInfo" type="text" placeholder="provide extra description about item"></textarea>
              <mat-icon matSuffix>message</mat-icon>
            </mat-form-field><br> -->
          </form>

          <!-- displaying user entered items as table and giving option to remove -->
          <div *ngIf="selectedfromlist == 'Pizza'">
          <label style="font-family: 'Helvetica Neue', sans-serif;"> Add pizza sizes with amount</label><br>
          <table *ngIf="extraSizes.length != 0">
            <tr *ngFor="let sizes of extraSizes" style="background:lightgray;padding: 20px">
              <td> {{sizes.name}} </td>
              <td> {{sizes.amount}} </td>
              <td style="margin-top:7px">
                <mat-icon color="warn" class="icondelete" (click)="itemsizedelete(sizes)" style="margin-top:5px">cancel</mat-icon>
              </td>
            </tr><br>
          </table>

          <div class="flexrow">
            <div class="flexcol">
              <mat-form-field>
                <input type="text" [(ngModel)]="extraoptionsizes.sizes[0].name" matInput placeholder="item name you wish to add">
              </mat-form-field>
            </div>
            <div class="flexcol">
              <mat-form-field>
                <input type="text" [(ngModel)]="extraoptionsizes.sizes[0].amount" matInput placeholder="item price">
              </mat-form-field>
            </div>
            <div class="flexcol" style="margin-top:10px">
              <button mat-mini-fab color="primary" (click)="addpizzasizes()">
                <mat-icon>add</mat-icon>
              </button><br>
            </div>
          </div>

          <!-- displaying user entered items as table and giving option to remove -->
          <label style="font-family: 'Helvetica Neue', sans-serif;"> Add pizza extra option name with price</label>
          <table *ngIf="extraPrices.length != 0">
            <tr *ngFor="let prices of extraPrices" style="background:lightgray;padding: 20px">
              <td> {{prices.name}} </td>
              <td> {{prices.amount}} </td>
              <td style="margin-top:7px">
                <mat-icon color="warn" class="icondelete" (click)="itempricedelete(prices)">cancel</mat-icon>
              </td>
            </tr><br>
          </table>
          <div class="flexrow">
            <div class="flexcol">
              <mat-form-field>
                <input type="text" [(ngModel)]="extraoptionprices.prices[0].name" matInput placeholder="item name you wish to add">
              </mat-form-field>
            </div>
            <div class="flexcol">
              <mat-form-field>
                <input type="text" [(ngModel)]="extraoptionprices.prices[0].amount" matInput placeholder="item price">
              </mat-form-field>
            </div>
            <div class="flexbox" style="margin-top:10px">
              <button mat-mini-fab color="primary" (click)="addextraoptionprices()">
                <mat-icon>add</mat-icon>
              </button><br>
            </div>
          </div><br>
        </div>
        <button mat-raised-button color="primary" style="width:20%;letter-spacing: 1px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"
          (click)="onSubmitData()"> SUBMIT DATA </button><br><br>
      </div>
    </div>

    <!-- view appear only when user click on remove dish -->
    <!-- <div *ngIf="radiogroup == 'removedish'">
      <mat-form-field>
        <mat-select placeholder="Select category" [(ngModel)]="removeCategory" (selectionChange)="removecategoryChanged(removeCategory)">
          <mat-option *ngFor="let category of shoppingListItems;" [value]="category.dishType">
            {{category.dishType}}
          </mat-option>
        </mat-select>
      </mat-form-field><br>
      <mat-form-field *ngIf="categorydishforRemove">
        <mat-select placeholder="Select category" [(ngModel)]="categorydishName" (selectionChange)="removeDishchanged(categorydishName)">
          <mat-option *ngFor="let category of categorydishforRemove" [value]="category.itenName">
            {{category.itemName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div style="margin-bottom: 230px;"></div>
    </div> -->

    </div>
  </mat-tab>

  <mat-tab label="Angebote Ändern">
    <!--  providing angebote information -->
    <mat-form-field style="padding:30px">
      <mat-select placeholder="Select Angebote" [(ngModel)]="angebote" (selectionChange)="angeboteselect(angebote)">
        <mat-option *ngFor="let angebote of angeboteItems" [value]="angebote.AngeboteNo">
          {{angebote.AngeboteNo}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div style="padding-left:30px;" *ngIf="angebote">
      <input style="display: none" type="file" (change)="onofferFileChanged($event)" #offerinput>
      <button mat-raised-button (click)="offerinput.click()" style="margin-right:30px;font-family: 'Helvetica Neue', sans-serif;">Select
        Angebote image</button>
      <button mat-raised-button color="primary" style="letter-spacing:1px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"
        (click)="angeboteUpload()">UPLOAD</button><br><br>
      <mat-form-field>
        <input type="text" matInput placeholder="Angebote name" [(ngModel)]="previewAngebote.name">
      </mat-form-field><br>
      <mat-form-field>
        <input type="number" matInput placeholder="Angebote price" [(ngModel)]="previewAngebote.price">
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
        <textarea matInput type="text" placeholder="Angebote description" [(ngModel)]="previewAngebote.extraInfo"></textarea>
        <mat-icon matSuffix>message</mat-icon>
      </mat-form-field><br>
    </div>
    <!-- displaying preview after user enter required information -->
    <div class="row" *ngIf="previewShow">
      <div class="col-md-4" style="margin-left:30px">
        <div class="card">
          <div style="position:relative">
            <img class="card-img-top" [src]="url" alt="Card image cap">
            <button mat-raised-button color="primary" style="position:absolute;top:0;left:0;letter-spacing: 1px"
              (click)="removepreview()"> REMOVE </button>
            <span class="badge badge-info badge-pill" style="position:absolute;top:0;right: 0">
              {{previewAngebote.price}} €</span>
          </div>
          <div class="card-body">
            <h5 class="card-title border-bottom pb-3"> {{previewAngebote.name}} </h5>
            <p>{{previewAngebote.extraInfo}}</p>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-bottom:20px;margin-left: 30px;margin-top: 20px" *ngIf="angebote">
      <button mat-raised-button color="primary" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;letter-spacing: 1px"
        (click)="preview()">PREVIEW</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" style="margin-left: 3%" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;letter-spacing: 1px"
        (click)="submitAngebote()">SUBMIT
        ANGEBOTE</button>
    </div>
  </mat-tab>

  <mat-tab label="Benutzer Admin">
    <!--  providing information for block list -->
    <label style="padding-top:20px;padding-left:20px">Enter Email or Phone to keep it in Block list</label><br>
    <form style="padding-left:20px">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field> <br>
      <mat-form-field class="example-full-width">
        <span matPrefix>+49 &nbsp;</span>
        <input type="tel" matInput placeholder="Telephone">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field><br>
      <button mat-raised-button color="primary" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-top: 20px;margin-bottom: 135px;letter-spacing: 1px">SAVE
        AS BLOCK LIST</button>
    </form>
  </mat-tab>
</mat-tab-group>
