<h1 mat-dialog-title>Chicken Tikka
  <button mat-icon-button color="primary" style="float: right;border:none" (click)="cancelDialog()">
    <mat-icon>cancel</mat-icon>
  </button>
</h1>
<div mat-dialog-content>
  Wahl aus: mit Brot, mit Pasta, mit Reis oder ohne Beilage. <br><br>
  <ul>
    <li>
      Enthält Milch/-Erzeugnisse (laktosehaltig)
    </li>
    <li>
      Enthält Milch/-Erzeugnisse (laktosehaltig)
    </li>
    <li>
      Enthält Milch/-Erzeugnisse (laktosehaltig)
    </li>
  </ul>
</div>
