

.social-card-header{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 96px;
}
.social-card-header i {
  font-size: 32px;
  color:#FFF;
}
.bg-facebook {
  background-color:#3b5998;
}
.text-facebook {
  color:#3b5998;
}
.bg-google-plus{
  background-color:#dd4b39;
}
.text-google-plus {
  color:#dd4b39;
}
.bg-twitter {
  background-color:#1da1f2;
}
.text-twitter {
  color:#1da1f2;
}
.bg-pinterest {
  background-color:#bd081c;
}
.text-pinterest {
  color:#bd081c;
}
.share:hover {
      text-decoration: none;
  opacity: 0.8;
}



.footersection {
  display: block;

  .customcontainer {
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
  }

  ul, ol {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  .btn, .form-control {
    border-radius: 2px;
    box-shadow: none !important;
  }

  .footer2 a {
    color: #DDD;
  }

  .footer2 a:hover,
  .footer2 a:focus,
  .footer2 a:active {
    color: #FFF;
  }

  .footer2 .footer {
    background-color: #2E3436;
    padding: 10px 0;
  }

  .footer2 .footer nav h3 {
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 1em 0;
  }

  .footer2 .footer nav h3 span {
    font-weight: 300;
    text-transform: capitalize;
  }

  .footer2 .footer nav ul li a {
    text-decoration: none;
    display: block;
    padding: 4px 0;
    font-size: 13px;
  }

  .footer2 .footer nav {
    padding-bottom: 10px;
  }

  .footer2 .footer .input-group {
    margin: 15px 0;
  }

  .footer2 .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
  }

  .footer2 .footer .form-control:hover,
  .footer2 .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
  }

  .footer2 .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
  }

  .footer2 .footer .social {
    margin: 0 auto;
    display: table;
  }

  .footer2 .footer .social li {
    float: left;
  }

  .footer2 .footer .social li a {
    display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    border-radius: 2px;
    margin: 5px 4px
  }

  .footer2 .footer .social li a:hover {
    background-color: #3A4144;
  }

  .footer-bottom {
    padding: 5px 0 5px;
    background: #1e1e1e;
}
.copyright-text p {
    color: #ccc;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

}

#headnavbar {
  .navbar {
    position: relative;
    top:0;
    width:100%;
    background: linear-gradient(90deg, rgba(4,3,24,1) 0%, rgba(39,83,91,0.9472163865546218) 60%, rgba(4,3,24,1) 100%);
  }

  .main-nav {
    list-style-type: none;
    display: none;
    padding-top: 10px;
  }

  .main-nav {
    button:focus {
      outline: none;
  }

  mat-menu {
    button {
      outline: none;
    }
  }
  button {
    letter-spacing: 1px;
    font-size: 15px;
    padding-top: 4px;
  }
  }

  .nav-links,
  .logo {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .nav-links:hover {
    color: rgb(158, 160, 167) !important;
  }

  .main-nav li {
    text-align: center;
    // margin: 5px auto;
  }

  .logo {
    display: inline-block;
    font-size: 25px;
    margin-left: 20px;
    padding-bottom: 10px;
  }

  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 24px;
  }

  .active {
    display: block;
    padding-top: 60px;
    @media screen and (min-width: 1121px) {
      padding-top: 0px;
    }
  }

  @media screen and (min-width: 1136px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 60px;
      align-items: center;
    }

    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }

    .main-nav li {
      margin: 0;
    }

    .nav-links {
      margin-left: 40px;
    }

    .logo {
      margin-top: 0;
    }

    .navbar-toggle {
      display: none;
    }

    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}




header {
  position: relative;
  background-color: black;
  height: 60vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
