<div id="headnavbar">
<nav class="navbar">
  <span class="navbar-toggle" id="js-navbar-toggle">
    <i class="material-icons"> menu </i>
  </span>
  <a href="#" class="logo">Indian foodie</a>
  <ul class="main-nav" id="js-menu">
      <li>
          <a href="#" class="nav-links">HOME</a>
      </li>
      <li>
          <a href="#" class="nav-links">RESTAURANT MENUKARTE</a>
      </li>
      <li>
          <a href="#" class="nav-links">ONLINE BESTELLEN</a>
      </li>
      <li>
          <a href="#" class="nav-links">ABOUT US</a>
      </li>
      <li>
          <a href="#" class="nav-links">KONTACT</a>
      </li>
  </ul>
</nav>
</div>

<header>
  <div class="overlay"></div>
  <video autoplay muted loop onloadedmetadata="this.muted = true">
    <source src="../assets/video/background_video.mp4" type="video/mp4" />
  </video>
  <div class="container h-100">
    <div class="d-flex text-center h-100">
      <div class="my-auto w-100 text-white">
        <h1 class="display-3">Namasthe</h1>
        <h2>MITTAGSMENÜ alle gerichte (Abholung nur 5,90 / Lieferung nur 6,50)</h2>
      </div>
    </div>
  </div>
</header>

<div class="todaySection animated zoomIn">
  <h3 class="mt-2 pb-2 mb-4 font-italic border-bottom">
    Today specials
  </h3>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="../assets/images/chicken.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-3">Chicken Tikka </h5>
          <p class="card-text">mariniertes im Tandoor gegrilltes</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="../assets/images/samosa.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-3"> Samosa</h5>
          <p class="card-text">Vegetarische Kartoffeltaschen</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-light">
        <img class="card-img-top" src="../assets/images/salat.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-3">Gemischter Salat</h5>
          <p class="card-text">Salat der Saison</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-light">
        <img class="card-img-top" src="../assets/images/paanipoori.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-3">Paanipoori</h5>
          <p class="card-text">Paani poori der Saison</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footersection">
  <footer class="footer2">
    <div class="footer">
      <div class="customcontainer">
        <div class="row">
          <nav class="col-md-3 col-sm-6 col-xs-12">
            <h3>Öffnungszeiten</h3>
            <ul>
              <li>
                <a href="#">Wir sind täglich 11:30 - 14:30 und 17:30 - 23:00 Uhr </a>
              </li>
              <li>
                <a href="#">Mittags (außer Feiertagen) von 11:30 bis 14.30 Uhr </a>
              </li>
              <li>
                <a href="#">Lieferzeiten: tägl. 11:30 - 14:30 & 17:30 - 22:00 Uhr</a>
              </li>
              <li>
                <a href="#">und Samstag 17:30 bis 22.00 Uhr</a>
              </li>
            </ul>
          </nav>

          <nav class="col-md-3 col-sm-6 col-xs-12">
            <h3>Kontakt</h3>
            <form>
              <address style="color:#DDD">
                <strong>Indian street food</strong><br>
                Mainzer Str. 50<br>
                D-63456 Hanau<br><br>
                Fax: +49 (0) 61 81 / 3 64 50 73<br>
                Mobil: +49 (0) 1 60 / 7 66 77 88<br>
                Ph: (123) 456-7890 <br>
                <a href="mailto:#">first.last@example.com</a>
              </address>
            </form>
          </nav>

          <nav class="col-md-3 col-sm-6 col-xs-12">
            <div class="input-group input-group-md">
              <input type="text" class="form-control" placeholder="Email Address">
              <span class="input-group-addon" style="padding-right:10px;padding-left:10px;padding-top:5px">Subscribe</span>
            </div>
            <ul class="social">
              <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube fa-lg"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!--/.footer-bottom-->
    <div class="footer-bottom">
        <div class="container">
                  <div class="row">
                    <div class="col-sm-6 ">
                      <div class="copyright-text">
                        <p>CopyRight © 2018 indian foodie All Rights Reserved</p>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
  </footer>
</div>
