

.social-card-header{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 96px;
}
.social-card-header i {
  font-size: 32px;
  color:#FFF;
}
.bg-facebook {
  background-color:#3b5998;
}
.text-facebook {
  color:#3b5998;
}
.bg-google-plus{
  background-color:#dd4b39;
}
.text-google-plus {
  color:#dd4b39;
}
.bg-twitter {
  background-color:#1da1f2;
}
.text-twitter {
  color:#1da1f2;
}
.bg-pinterest {
  background-color:#bd081c;
}
.text-pinterest {
  color:#bd081c;
}
.share:hover {
      text-decoration: none;
  opacity: 0.8;
}

#headnavbar {
  .navbar {
    position: relative;
    top:0;
    width:100%;
   // background: linear-gradient(90deg, rgba(4,3,24,1) 0%, rgba(39,83,91,0.9472163865546218) 60%, rgba(4,3,24,1) 100%);
   background: linear-gradient(90deg, rgb(167, 155, 155) 0%, rgba(39,83,91,0.9472163865546218) 60%);
  }

  .main-nav {
    list-style-type: none;
    display: none;
    padding-top: 10px;
  }

  .main-nav {
    button:focus {
      outline: none;
  }

  mat-menu {
    button {
      outline: none;
    }
  }
  button {
    letter-spacing: 1px;
    font-size: 15px;
    padding-top: 4px;
  }
  }

  .nav-links,
  .logo {
    text-decoration: none;
    color: white;
    font-size: 13px;
  }

  .nav-links:hover {
    color: rgb(158, 160, 167) !important;
  }

  .main-nav li {
    text-align: center;
    // margin: 5px auto;
  }

  .logo {
    display: inline-block;
    font-size: 20px;
  }

  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 24px;
  }

  .active {
    display: block;
    padding-top: 50px;
    @media screen and (min-width: 728px) {
      padding-top: 0px;
    }
  }

  .deactive {
    display: none;
  }

 .logoimg {
    width: 120px !important;
    height: 85px !important;
  }

  @media screen and (min-width: 728px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 90px;
      align-items: center;
    }

    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }

    .main-nav li {
      margin: 0;
    }

    .nav-links {
      margin-left: 40px;
    }

    .logo {
      margin-top: 0;
    }

    .navbar-toggle {
      display: none;
    }

    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

header {
  position: relative;
  background-color: black;
  height: 45vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.disabled {
  pointer-events: none;
}

.fas fa-sign-out-alt {
  color: white !important;
}

/* badge */


