<div id="headnavbar">
  <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
      <i class="material-icons"> menu </i>
    </span>
    <a routerLink="/home" class="logo" style="font-family:cursive">
      <i class="material-icons" style="color:orange">restaurant_menu</i>
      Pizzeria express rodgau
    </a>
    <ul class="main-nav" id="js-menu">
      <li>
        <button mat-button style="color:white" (click)="navigation('home')"> HOME </button>
      </li>
      <li>
        <button mat-button style="color:white" [matMenuTriggerFor]="menu"> RESTRAUNT MENUKARTE
          <i class="material-icons" style="color:white;font-size:30px;padding-bottom:5px;">
            arrow_drop_down
          </i>
        </button>
      </li>
      <li>
        <button mat-button style="color:white" (click)="navigation('online')"> ONLINE BESTELLEN </button>
      </li>
      <li>
        <button mat-button style="color:white"> ABOUT US </button>
      </li>
      <li>
        <button mat-button style="color:white" (click)="openModal()" [disabled]="isContactVisible || isLoginVisible">
          KONTACT </button>
      </li>
      <li>
        <button mat-button style="color:white" (click)="openLogin()" [disabled]="isLoginVisible || isContactVisible">
          ADMIN LOGIN </button>
      </li>
    </ul>
  </nav>
</div>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item>Chicken</button>
  <button mat-menu-item>Mutton</button>
  <button mat-menu-item>Biryani</button>
  <button mat-menu-item>Samosa</button>
  <button mat-menu-item>Paanipoori</button>
  <button mat-menu-item>Drinks</button>
</mat-menu>

<header>
  <div class="overlay"></div>
  <video autoplay muted loop onloadedmetadata="this.muted = true">
    <source src="../assets/video/background_video.mp4" type="video/mp4" />
  </video>
  <div class="container h-100">
    <div class="d-flex text-center h-100">
      <div class="my-auto w-100 text-white">
        <h2> Täglich neue Angebote! </h2>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<div class="footersection">
  <footer class="footer2">
    <div class="footer">
      <div class="customcontainer">
        <div class="row">
          <nav class="col-md-3 col-sm-6 col-xs-12">
            <h3>Öffnungszeiten</h3>
            <ul>
              <li>
                <a href="#">Wir sind täglich 11:30 - 14:30 und 17:30 - 23:00 Uhr </a>
              </li>
              <li>
                <a href="#">Mittags (außer Feiertagen) von 11:30 bis 14.30 Uhr </a>
              </li>
              <li>
                <a href="#">Lieferzeiten: tägl. 11:30 - 14:30 & 17:30 - 22:00 Uhr</a>
              </li>
              <li>
                <a href="#">und Samstag 17:30 bis 22.00 Uhr</a>
              </li>
            </ul>
          </nav>

          <nav class="col-md-3 col-sm-6 col-xs-12">
            <h3>Kontakt</h3>
            <form>
              <address style="color:#DDD">
                <strong>Indian street food</strong><br>
                Mainzer Str. 50<br>
                D-63456 Hanau<br><br>
                Fax: +49 (0) 61 81 / 3 64 50 73<br>
                Mobil: +49 (0) 1 60 / 7 66 77 88<br>
                Ph: (123) 456-7890 <br>
                <a href="mailto:#">first.last@example.com</a>
              </address>
            </form>
          </nav>

          <nav class="col-md-3 col-sm-6 col-xs-12">
            <div class="input-group input-group-md">
              <input type="text" class="form-control" placeholder="Email Address">
              <span class="input-group-addon" style="padding-right:10px;padding-left:10px;padding-top:5px">Subscribe</span>
            </div>
            <ul class="social">
              <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube fa-lg"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!--/.footer-bottom-->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 ">
            <div class="copyright-text">
              <p>CopyRight © 2018 indian foodie All Rights Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
