<div id="headnavbar">
  <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
      <i class="material-icons"> menu </i>
    </span>
    <div>
      <a (click)="home()" class="logo" style="font-family:sans-serif; cursor: pointer;" [class.disabled]="disableMenu">
        <i class="material-icons" style="color:orange">restaurant_menu</i>
        Pizzeria Express Rodgau
      </a>
    </div>
    <ul class="main-nav" id="js-menu">
      <li>
        <button mat-button style="color:white" (click)="navigation('online')" [disabled]="disablePointer"> Jetzt
          Bestellen! </button>
      </li>&nbsp;&nbsp;&nbsp;
      <li *ngIf="!isLoggedIn">
        <button mat-icon-button (click)="openUserLogin()" [disabled]="disablePointer">
          <mat-icon style="color:white;padding-left:10px;padding-right:10px;margin-bottom: 5px">account_circle</mat-icon>
        </button>
      </li>
      <li (click)="logOut()" *ngIf="isLoggedIn">
          <i class="fa fa-sign-out" style="font-size:25px;color:white; cursor: pointer;margin-top: 10px"></i>
      </li>
    </ul>
  </nav>
</div>

<!-- <app-admininterface></app-admininterface>
 -->
<!-- <header>
  <div class="overlay"></div>
  <video autoplay muted loop onloadedmetadata="this.muted = true">
    <source src="../assets/video//background_video.jpg" />
  </video>
  <div class="container h-100">
    <div class="d-flex text-center h-100">
      <div class="my-auto w-100 text-white">
        <h2> Täglich neue Angebote! Jetzt 15% Rabatt auf alle Online-Bestellungen! </h2>
      </div>
    </div>
  </div>
</header> -->

<div *ngIf="homeSection">
  <app-home></app-home>
</div>

<div *ngIf="adminSection">
  <app-admininterface></app-admininterface>
</div>

<div #onlinebestellen *ngIf="onlineSection">
  <app-menucard></app-menucard>
</div>
