.card-img-top {
  height: 15rem;
  object-fit: cover;
}

.todaySection {
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}
.fixed-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

mat-toolbar {
  background: linear-gradient(90deg, rgba(39,83,91,0.9472163865546218) 50%, rgba(39,83,91,0.9472163865546218) 60%, rgba(39,83,91,0.9472163865546218) 60%);
  span {
    color: white;
  }
}

button:focus {
  outline: none;
}

.example-fill-remaining-space {
   flex: 1 1 auto;
}

.card-body p i:hover {
  cursor: pointer;
}

.table th { border-top: none; }

tfoot > tr:last-child > td {
  border-bottom: 0;
}
.aligntex {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .aligntex {
    text-align: left;
  }

  /* .actions button {
    float: left;
  } */

  table#cart tbody td .form-control {
    display: inline !important;
  }
  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }
  .actions .btn-info {
    float: left;
  }
  .actions .btn-danger {
    float: right;
  }
  table#cart thead {
    display: none;
  }
  table#cart tbody td {
    display: block;
    padding: .3rem;
    min-width: 100%;
  }
  table#cart tbody tr td:first-child {
    background: linear-gradient(90deg, rgba(4,3,24,1) 0%, rgba(39,83,91,0.9472163865546218) 60%, rgba(4,3,24,1) 100%);
    color: #fff;
  }
  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }
  table#cart tfoot td {
    display: block;
  }
  table#cart tfoot td .btn {
    display: block;
  }
}

.iconremove:hover {
  cursor: pointer;
  box-shadow: 0 0 0 2px rgba(42, 22, 116, 0.822);
  transition: 0.5s;
  border-radius:50%;
}

.iconadd:hover {
  cursor: pointer;
  box-shadow: 0 0 0 2px rgba(42, 22, 116, 0.822);
  transition: 0.5s;
  border-radius:50%;
}

.icondelete:hover {
  cursor: pointer;
  box-shadow: 0 0 0 2px rgba(212, 15, 25, 0.842);
  transition: 0.5s;
  border-radius:50%;
}

.disabled {
  pointer-events: none;
}


