.todaySection {

  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
}
.card-img-top {
  height: 10rem;
  object-fit: cover;
}
.gallerySection {
  margin-bottom: 20px;
}

.loader .my-loader {
  background-color: #D32F2F !important;
}

/* .bg-overlay {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../assets/video/background_video.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 550px;
  padding: 50px;
} */

  .blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

  }

  /* The colour of the indicators */
  .blog .carousel-indicators li {
      background: #a3a3a3;
      margin-bottom: 4px;
      border-radius: 50%;
  }

  .blog .carousel-indicators .active {
  background: #dc3545;
  }
