.todaySection {

  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
}
.card-img-top {
  height: 10rem;
  object-fit: cover;
}
.gallerySection {
  margin-bottom: 20px;
}

.loader .my-loader {
  background-color: #D32F2F !important;
}

.bg-overlay {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../assets/video/background_video.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 550px;
  padding: 50px;
}

.fixedimage {

  @media screen and (min-width: 728px) {
    .callno {
      pointer-events: none;
    }
  }

  .callno {
    color: white;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold
  }
  .date {
    background: #dc3545;
    float: right;
    height: 105px;
    position: relative;
    width: 80px;
    margin-top: 10px;
}
.date p {
    color: white;
    font: 18px/30px Georgia, sans-serif;
    position: relative;
    text-align: center;
    text-shadow: 0 -1px 1px hsla(0,0%,0%,.1);
}


.date .day {
    display: block;
    font-size: 28px;
    padding-top: 6px;
}

/* Traditional Ribbon */

.traditional:after, .traditional:before {
    border-top: 15px solid #dc3545;
    bottom: -15px;
    content: '';
    height: 0;
    position: absolute;
    width: 0;
}
.traditional:after {
    border-right: 25px solid transparent;
    left: 0;
}
.traditional:before {
    border-left: 25px solid transparent;
    right: 0;
}

/* Cut-off Ribbon */

.cut-off:after {
    background-image: -webkit-linear-gradient(45deg, #dc3545 25%, transparent 25%, transparent 75%, #dc3545 75%, #dc3545),
                      -webkit-linear-gradient(-45deg, #dc3545 25%, transparent 25%, transparent 75%, #dc3545 75%, #dc3545);
    background-image:    -moz-linear-gradient(45deg, #dc3545 25%, transparent 25%, transparent 75%, #dc3545 75%, #dc3545),
                         -moz-linear-gradient(-45deg, #dc3545 25%, transparent 25%, transparent 75%, #dc3545 75%, #dc3545);
    background-image:     -ms-linear-gradient(45deg, #dc3545 25%, transparent 25%, transparent 75%, #dc3545 75%, #dc3545),
                          -ms-linear-gradient(-45deg, #dc3545 25%, transparent 25%, transparent 75%, #dc3545 75%, #dc3545);
    background-image:      -o-linear-gradient(45deg, #dc3545 25%, transparent 25%, transparent 75%, #dc3545 75%, #dc3545),
                           -o-linear-gradient(-45deg, #dc3545 25%, transparent 25%, transparent 75%, #dc3545 75%, #dc3545);
    background-image:         linear-gradient(45deg, #dc3545 25%, transparent 25%, transparent 75%, #dc3545 75%, #dc3545),
                              linear-gradient(-45deg, #dc3545 25%, transparent 25%, transparent 75%, #dc3545 75%, #dc3545);
    background-repeat: repeat-x;
    background-position: 50% 0;
    background-size: 10px 10px;
    bottom: -5px;
    content: '';
    height: 5px;
    left: 0;
    position: absolute; /* Make sure the parent element has a position set */
    right: 0;
}

/* Rounded Ribbon */

.rounded:before {
    background-image: -webkit-radial-gradient(#dc3545 50%, transparent 50%);
    background-position: 0% 100%;
    background-repeat: repeat;
    background-size: 10px 10px;
    bottom: -5px;
    content: '';
    height: 95px;
    left: -5px;
    position: absolute;
    right: -5px;
}
  }
