.todaySection {
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
}
.card-img-top {
  height: 10rem;
  object-fit: cover;
}
.gallerySection {
  margin-bottom: 20px;
}

.loader .my-loader {
  background-color: #D32F2F !important;
}
