<div class="todaySection animated zoomIn">
  <h3 class="mt-2 pb-2 mb-4 font-italic border-bottom">
      Täglich neue Angebote!
  </h3>
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <img class="card-img-top" src="../assets/images/chicken.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-3">Chicken Tikka </h5>
          <p class="card-text">mariniertes im Tandoor gegrilltes</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img class="card-img-top" src="../assets/images/samosa.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-3"> Samosa</h5>
          <p class="card-text">Vegetarische Kartoffeltaschen</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img class="card-img-top" src="../assets/images/salat.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-3">Gemischter Salat</h5>
          <p class="card-text">Salat der Saison</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img class="card-img-top" src="../assets/images/salat.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-3">Paanipoori</h5>
          <p class="card-text">Paani poori der Saison</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="../assets/images/salat.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title border-bottom pb-3">Paanipoori</h5>
            <p class="card-text">Paani poori der Saison</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
          <div class="card">
            <img class="card-img-top" src="../assets/images/paanipoori.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title border-bottom pb-3">Paanipoori</h5>
              <p class="card-text">Paani poori der Saison</p>
            </div>
          </div>
        </div>
  </div>
</div>

