<div class="userregister">
  <h3 style="text-align:center;font-family:cursive;margin-bottom:20px;color: rgb(148, 7, 25)"> <span> Registrieren
    </span>
    <button mat-icon-button color="primary" style="float: right;border:none" (click)="onNoClick()">
      <mat-icon>cancel</mat-icon>
    </button>
  </h3>
  <div class="example-form">

    <mat-form-field class="example-full-width">
      <mat-icon matSuffix>account_circle</mat-icon>
      <input matInput placeholder="Full Name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-icon matSuffix>email</mat-icon>
      <input type="email" matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password">
      <mat-icon matSuffix>visibility_off</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Confirm password">
      <mat-icon matSuffix>visibility_off</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" class="registerbutton">
      <span style="font-size:17px;letter-spacing: 1px;">ABSENDEN</span>
      <mat-icon style="margin-left:20px" matSuffix>arrow_forward_ios</mat-icon>
    </button>
    <div style="margin-top:10px">
      <button style="font-size:13px;letter-spacing: 1px;" mat-button> Back</button>
      <button style="font-size:13px;letter-spacing: 1px;float: right;" mat-button> Forgot password?</button>
    </div>

  </div>
</div>
